.title-name {
  font-size: 30px;
}

.output-name {
  font-size: 30px;
}

.category_id-name {
  font-size: 30px;
}

.lank_id-name {
  font-size: 30px;
}

.author-name {
  font-size: 30px;
}

.syuppan-name {
  font-size: 30px;
}

.read_id-name {
  font-size: 30px;
}