.wf-hannari { font-family: "Hannari"; }

.library-all {
  max-width: 940px;
  margin: 13%;
  border-bottom: 3px solid #8c6239;
}

.library-2 {
}

html {
  font-size: 100%;
}

.title-name {
  font-size: 15px;
  padding-left: 47%  

}

.output-name {
  font-size: 15px;
  padding-left: 47%  

}

.category_id-name {
  font-size: 15px;
  padding-left: 47%  

}

.lank_id-name {
  font-size: 15px;
  padding-left: 47%  

}

.author-name {
  font-size: 15px;
  padding-left: 47%  
}

.syuppan-name {
  font-size: 15px;
  padding-left: 47%  

}

.read_id-name {
  font-size: 15px;
  padding-left: 47%  

}



.title1 {
  font-size: 20px;
  padding-left: 40%  

}

.output1 {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-left: 40%  
}

.category_id1 {
  font-size: 20px;
  padding-left: 50%  

}

.lank_id1 {
  font-size: 20px;
  padding-left: 50%  

}

.author1 {
  font-size: 20px;
  padding-left: 45%  

}

.syuppan1 {
  font-size: 20px;
  padding-left: 50%  

}

.read_id1 {
  font-size: 20px;
  padding-left: 50%  

}

