<div class="library-bar-header">
  <div class="header-name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">My Book</a>
  </div>
</div>

<div class="rooms">
 <div class="room">
    <div class="room-name">
      <a href="#">本の名前１</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">本の名前２</a>
    </div>
  </div>
</div>