<div class="library-bar-header">
  <div class="header-name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-library">
    <%= link_to "チャットを作成する", new_library_path %>
  </div>
</div>

<div class="libraries">
  <% current_user.libraries.each do |library| %>
   <div class="library">
    <div class="library-name">
     <%= link_to library.title, library_outputs_path(library) %>
     </div>
    </div>
  <% end %>  
</div>


