<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      With-Library
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">アウトプット終了</a>
    </div>
  </div>
</div>

<div class="outputs">
  <div class="output">
    <div class="upper-output">
      <div class="output-user">
        han
      </div>
      <div class="output-date">
        2020/3/31(水) 12:43:30
      </div>
    </div>
    <div class="lower-output">
      <div class="output-content">
        内容１
      </div>
    </div>
  </div>

  <div class="output">
    <div class="upper-output">
      <div class="output-user">
        han
      </div>
      <div class="output-date">
        2020/3/31(水) 12:47:30
      </div>
    </div>
    <div class="lower-output">
      <div class="output-content">
        内容２
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-output" placeholder= "入力してください">
        <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="アウトプット">
</div>
